<div class="home-page" ng-app="Brello">

  <nav class="navbar navbar-default" ng-controller="NavCtrl">
    <div class="container-fluid">
      <!-- logo brand -->
      <a class="navbar-brand" href="#">Brello</a>

      <!-- board button -->
      <div class="btn-group navbar-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Boards
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="modal" data-target="#newBoardModal">New Board</a></li>
          <li role="separator" class="divider"></li>
          <!-- <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li> -->
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text">Signed in as <a href="#" class="navbar-link">{{ user.username }}</a> <a href="#" ng-click="logout()">Log Out</a></p>
      </ul>
    </div>
  </nav>

  <!-- Modal -->
  <div ng-controller="newBoardCtrl">
    <div class="modal fade" id="newBoardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel">New Board</h4>
          </div>
          <div class="modal-body">
            <form name="newBoard" ng-init="boardParams={}">
              <div class="form-group">
                <label for="name">Title</label>
                <input type="text" name="name" ng-model="boardParams.name" class="form-control">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" rows="8" ng-model="boardParams.description" class="form-control"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="create(boardParams)">Create</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <h1>Home page</h1>
</div>
