<div class="home-page" ng-app="Brello">

  <nav class="navbar navbar-default" ng-controller="NavCtrl">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Brello</a>
      <button type="button" class="btn btn-default navbar-btn">Boards</button>
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text">Signed in as <a href="#" class="navbar-link">{{ user.username }}</a> <a href="#" ng-click="logout()">Log Out</a></p>
      </ul>
    </div>
  </nav>

  <h1>Home page</h1>
</div>
