<div class="col-md-12">
  <div ng-controller="showBoardCtrl">
    <blockquote>
      <p inline-edit="board.name" inline-edit-callback="updateName(newValue)" inline-edit-btn-edit="" inline-edit-on-click></p>
      <p inline-edit="board.description" inline-edit-callback="updateDescription(newValue)"
      inline-edit-btn-edit="" inline-edit-on-click class="text-muted"></p>
    </blockquote>
  </div>

  <div ng-controller="listCtrl">
    <!-- list show -->
    <div dnd-list="lists">
      <li class="col-md-2"
      ng-repeat="list in lists"
      dnd-draggable="list"
      dnd-moved="lists.splice($index, 1)">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center"
            inline-edit="list.title" inline-edit-callback="updateTitle(newValue, list.id)"
            inline-edit-btn-edit="" inline-edit-on-click>
            <a href="" ng-click=deleteList(list)><span class="glyphicon glyphicon-remove pull-right text-muted"></span></a>
            </h3>
          </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </li>
  </div>


    <!-- new list link -->
    <div class="newListLink col-sm-2">
      <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseListForm" aria-expanded="false" aria-controls="collapseExample">
        Create a new list...
      </button>
      <div class="collapse" id="collapseListForm">
        <hr>
        <form name="listForm" ng-init="listParams = {}">
          <div class="form-group">
            <input type="text" name="title" ng-model="listParams.title" class="form-control" placeholder="New list title here">
          </div>
          <div class="form-group">
            <input type="submit" name="Create" ng-click="createList(listParams)" class="btn btn-success btn-block">
          </div>
        </form>
      </div>
    </div>
  </div>


</div>
